<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- 서블릿 필터 등록 -->
  <filter>
    <filter-name>myFilter</filter-name>
    <filter-class>me.frenchline.MyFilter</filter-class>
  </filter>

  <!-- 서블릿 필터 매핑 -->
  <filter-mapping>
    <filter-name>myFilter</filter-name>
    <servlet-name>HelloServlet</servlet-name>
  </filter-mapping>

  <!-- 서블릿 리스너 등록 : 서블릿 컨텍스트 수준의 이벤트 리스너 -->
  <listener>
    <listener-class>me.frenchline.MyListener</listener-class>
  </listener>

  <!-- 서블릿 등록 -->
  <servlet>
    <!-- 서블릿 이름 지정-->
    <servlet-name>HelloServlet</servlet-name>
    <!-- 서블릿 위치 -->
    <servlet-class>me.frenchline.HelloServlet</servlet-class>
  </servlet>

  <!-- 서블릿 매핑 -->
  <servlet-mapping>
    <!-- hello 라는 이름의 서블릿을 지정한 url 패턴으로 매핑 -->
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

</web-app>
